scripts/add_tb_vcf.sh
mykrobe.egg-info/
atlas.egg-info/
build
dist
*.ctx
.DS_Store
.temporary_delete_me
.#*
*.vcf
*.dat
*#
*.p

*.gz
dump
*.fa
*.kmers
*.kmer
*.count
*.ct
*.fasta.colour_covgs
*.jf
*.fasta
*.tmp
.nfs*
*~
venv
*.pyc
._*

# Files
der_tree.json
der_tree.txt
tb_val_comids.txt
tb_vcfs.txt
val_comids.txt
val_tb_comids.txt
vcfs.txt
*.fasta