$color-blue: #71c7e6;
$color-blue-text: darken($color-blue, 5%);
$color-base-text: #676561;
$color-placeholder-text: #ceccc6;
$color-light-green: #86c9b9;
$color-dark-green: #3b9da7;
$color-buff: #f7f6f1;
$color-rule: #ceccc6;

$color-footer-background: #9a9893;

$color-blue-hover: darken($color-blue, 5%);
$color-blue-hover-text: darken($color-blue, 15%);
$color-dark-green-hover: darken($color-dark-green, 5%);
$color-light-green-hover: darken($color-light-green, 5%);
$color-light-green-hover-text: darken($color-light-green, 15%);

